<div id="about-me" class="about-me-container flex items-center justify-between p-8 bg-white shadow-lg rounded-xl">
  <div class="about-me-text w-3/5">
    <h2 class="text-3xl font-bold text-primary mb-4">About Me</h2>
    <p class="text-lg text-gray-700 mb-4">
      I’m a dedicated <strong>Software Engineering student</strong> with a strong interest in <strong>Machine Learning, AI</strong>, and <strong>Cloud Computing</strong>. I enjoy building web applications, exploring how to use <strong>ML models</strong> to make them smarter, and learning how to run them efficiently on the <strong>Cloud</strong> for better performance and user experience.    </p>
    <p class="text-lg text-gray-700 mb-4">
      I’m learning full-stack development with <strong>Spring Boot</strong> and <strong>Angular</strong>, and I like adding <strong>Machine Learning</strong> to make apps more powerful. I'm also exploring how to use the <strong>Cloud</strong> to make apps run smoothly and scale well. I aim to build useful solutions that make a difference.    </p>
    <p class="text-lg text-gray-700 mb-4">
      I am also passionate about <strong>Football</strong>, <strong>TV shows</strong>, <strong>movies</strong>, and exploring new <strong>healthcare technologies</strong> to improve client outcomes and enhance the well-being of users.
    </p>
  </div>

  <div class="about-me-image w-2/5 flex justify-center items-center relative">
    <img src="../assets/meee.jpeg" alt="Oualid Khmaich" class="rounded-full w-48 h-48 object-cover shadow-lg" />

    <!-- Brand Logo Image -->
    <div class="brand-logo absolute bottom-0 right-0 bg-white p-2 rounded-full shadow-lg">
      <img src='../assets/brand.png' alt="Brand Logo" class="w-12 h-12 object-contain" />
    </div>
  </div>
</div>
