<header class="bg-[#14213D] text-white py-2 px-6 shadow-lg">
<div class="max-w-screen-xl flex items-center justify-between mx-auto px-4">
    <div class="flex items-center space-x-3">
      <img src="../assets/brannd.png" alt="Brand Logo" class="h-14 w-14 rounded-full object-cover" />
    </div>
    <!-- Navigation Links (Centered) -->
    <nav class="flex flex-1 justify-center space-x-8 text-base font-semibold">
      <ul class="flex space-x-6">
        <li><a href="#about-me" class="text-white hover:text-[#2FE799] transition">About</a></li>
        <li><a href="#skills" class="text-white hover:text-[#2FE799] transition">Skills</a></li>
        <li><a href="#projects" class="text-white hover:text-[#2FE799] transition">Projects</a></li>
        <li>
          <div class="relative inline-block text-left">
            <button (click)="toggleDropdown()" class="text-white hover:text-[#2FE799] transition focus:outline-none">
              Resume <i class="oualid fas fa-download"></i>
            </button>
            <div *ngIf="dropdownOpen" class="absolute mt-2 w-40 rounded-md shadow-lg bg-gray-800 z-10">
              <a href="../assets/Francais_cv_oualidKHMAICH.pdf" download class="block px-4 py-2 text-white hover:bg-[#2FE799]">Français</a>
              <a href="../assets/English_cv_oualidKHMAICH.pdf" download class="block px-4 py-2 text-white hover:bg-[#2FE799]">English</a>
            </div>
          </div>

        </li>
      </ul>
    </nav>
    <!-- Contact Me (Right) -->
    <div class="flex items-center justify-end space-x-4">
      <a href="mailto:khmoualid@gmail.com" class="flex items-center text-white hover:text-[#2FE799] transition">
        Contact Me <i class="fas fa-comment-dots text-xl ml-2"></i>
      </a>
    </div>
  </div>
</header>
